.home {
  .jumbotron {
    min-height: 200px;
    background-color: var(--black);
    padding-top: 192px;
    padding-bottom: 66px;
    .block__01 {
      display: flex;
      align-items: flex-start;
      .everything__tech {
        color: var(--light-blue);
        max-width: 685px;
        h1 {
          font-size: 64px;
          font-weight: 800;
          line-height: 78px;
          margin-bottom: 22px;
          span {
            color: var(--gradient);
            font-size: 18px;
            display: block;
            line-height: 21px;
          }
        }
        p {
          line-height: 32px;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 22px;
        }
        .link__reach {
          background: var(--gradient);
          width: fit-content;
          border-radius: 6px;
          position: relative;
          .extra__bg {
            min-height: calc(100% - 2px);
            left: 1px;
            top: 1px;
            width: calc(100% - 2px);
            background-color: var(--black);
            position: absolute;
            z-index: 1;
          }
          a {
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            padding: 18px 36px;
            display: block;
            background-color: var(--black);
            z-index: 2;
            position: relative;
          }
          margin-bottom: 207px;
        }
        .socials {
          li {
            display: inline-block;
            margin: 0 calc(56px / 2) 0 0;
            a {
              color: var(--light-blue);
              font-size: 20px;
            }
          }
        }
      }
      .logo {
        max-width: 64px;
        margin-right: 16.45px;
      }
    }
    .img__pc {
      max-width: 800px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .what__we__do {
    background-color: var(--light-blue);
    padding: 64px 0;

    .cover__ {
      max-width: calc(100% - 78px);
      margin-left: auto;
      .what__offer {
        display: flex;
        align-items: center;
        width: fit-content;
        margin-bottom: 48px;
        h1 {
          margin-right: 32px;
          font-weight: 800;
          font-size: 64px;
          max-width: 310px;
          line-height: 78px;

          color: var(--black);
          span {
            font-size: 18px;
            display: block;
            line-height: 22px;
          }
        }
        .question {
          max-width: 104px;
        }
      }
      .image__slider {
        overflow: hidden;
        .slider {
          display: flex;
          transition: 0.8s all;
          .cover {
            text-align: center;
            font-weight: 600;
            font-size: 25px;
            color: var(--grey);
            p {
              margin-top: 33px;
            }
            .images {
              margin: 0 calc(48px / 2);
            }
          }
        }
      }
      .slider__controls {
        margin-top: 135px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & > div {
          color: var(--grey);
          cursor: pointer;
          font-size: 40px;
          &:nth-of-type(1) {
            margin-right: 56px;
          }
        }
      }
    }
  }
  .partners {
    background-color: white;
    margin: 64px 0;
    h1 {
      font-size: 64px;
      color: #026902;
      line-height: 78px;
      margin-left: 78px;
      span {
        font-size: 18px;
        display: block;
        line-height: 21px;
      }
    }
    .partner__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 48px;
      & > div {
        background-color: #ffe3f6;
        min-width: 192px;
        min-height: 192px;
      }
    }
  }
}
