.home {
  .jumbotron {
    min-height: 200px;
    background-color: var(--black);
    padding-top: 192px;
    padding-bottom: 66px;
    transition: 1s background-color;
    .block__01 {
      display: flex;
      align-items: flex-start;
      .everything__tech {
        color: var(--light-blue);
        max-width: 685px;
        h1 {
          font-size: 64px;
          font-weight: 800;
          line-height: 78px;
          margin-bottom: 22px;
          max-width: 412px;
          span {
            color: var(--gradient);
            font-size: 18px;
            display: block;
            line-height: 21px;
          }
        }
        p {
          line-height: 32px;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 22px;
        }
        .link__reach {
          background: var(--gradient);
          width: fit-content;
          border-radius: 6px;
          position: relative;
          .extra__bg {
            min-height: calc(100% - 2px);
            left: 1px;
            top: 1px;
            width: calc(100% - 2px);
            background-color: var(--black);
            position: absolute;
            z-index: 1;
          }
          a {
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            padding: 18px 36px;
            display: block;
            background-color: var(--black);
            z-index: 2;
            position: relative;
          }
          margin-bottom: 207px;
        }
        .socials {
          li {
            display: inline-block;
            margin: 0 calc(56px / 2) 0 0;
            a {
              color: var(--light-blue);
              font-size: 20px;
            }
          }
        }
      }
      .logo {
        max-width: 64px;
        margin-right: 16.45px;
      }
    }
    .img__pc {
      max-width: 800px;
      position: absolute;
      right: -5vw;
      bottom: 0;
      opacity: 0;
    }
    .reveal__pc {
      opacity: 1;
      transition: 2s opacity;
    }
  }
  .what__we__do,
  .testimonies {
    background-color: var(--light-blue);
    padding: 64px 0;

    .cover__ {
      max-width: calc(100% - 78px);
      margin-left: auto;
      .what__offer {
        display: flex;
        align-items: center;
        width: fit-content;
        margin-bottom: 48px;
        h1 {
          margin-right: 32px;
          font-weight: 800;
          font-size: 64px;
          max-width: 310px;
          line-height: 78px;

          color: var(--black);
          span {
            font-size: 18px;
            display: block;
            line-height: 22px;
          }
        }
        .question {
          max-width: 104px;
        }
      }
      .image__slider {
        overflow: hidden;
        .slider {
          display: flex;
          transition: 0.8s all;
          .cover {
            text-align: center;
            font-weight: 600;
            font-size: 25px;
            color: var(--grey);
            p {
              margin-top: 33px;
            }
            .images {
              margin: 0 calc(48px / 2);
            }
          }
        }
      }
      .slider__controls {
        margin-top: 135px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & > div {
          color: var(--grey);
          cursor: pointer;
          font-size: 40px;
          &:nth-of-type(1) {
            margin-right: 56px;
          }
        }
      }
    }
  }
  .partners {
    background-color: white;
    margin: 64px 0;
    h1 {
      font-size: 64px;
      color: #026902;
      line-height: 78px;
      margin-left: 78px;
      span {
        font-size: 18px;
        display: block;
        line-height: 21px;
      }
    }
    .partner__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 48px;
      & > div {
        background-color: #ffe3f6;
        min-width: 192px;
        min-height: 192px;
      }
    }
  }
  .testimonies {
    .cover__ {
      margin-left: 0;
      max-width: 100%;
      .what__offer {
        h1 {
          color: #48e841;
          font-size: 64px;
          max-width: fit-content;
          margin-left: 78px;
        }
      }
      .image__slider {
        overflow: hidden;
        .slider {
          display: flex;
          transition: 0.8s all;
          .cover {
            display: flex;
            align-items: flex-start;
            border-radius: 9px;
            background-color: var(--white);
            margin-right: 35px;
            padding: 36px 24px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
            p {
              margin: 0;
              text-align: left;
              font-size: 22px;
              line-height: 35px;
            }
            .text {
              text-align: left;
              font-size: 18px;
              line-height: 28px;
              padding: 18px 0;
              background: var(--gradient);
              position: relative;
              min-height: 300px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 18px;
              .background__modifier {
                position: absolute;
                width: 100%;
                left: 0;
                height: calc(100% - 2px);
                background-color: var(--white);
                top: 1px;
                z-index: 1;
              }
              span {
                position: relative;
                z-index: 2;
              }
            }
            .first__section {
              margin-right: 24px;
              .avatar {
                width: 96px;
                height: 96px;
                background-color: rgba(45, 93, 215, 0.2);
                clip-path: circle(calc(100% / 2) at 50% 50%);
              }
              .quote {
                margin-top: 34px;
                font-size: 128px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 559px) {
  .home {
    .jumbotron {
      height: fit-content;
      .block__01 {
        transform: scale(0.8);
        transform-origin: 40px -500px;
        width: 120%;
        height: 700px;
        .logo {
          display: none;
        }
        .everything__tech {
          h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 100%;
            text-align: center;
          }
          .img__pc {
            position: static;
            transform: scale(0.8);
          }
          p {
            text-align: center;
          }
          .link__reach {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
          }
          .socials {
            display: flex;
            align-items: center;
            justify-content: space-around;
            li {
              margin: 0;
              a {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
    .what__we__do {
      padding-bottom: 0;
      .cover__ {
        margin: 0;
        max-width: 120%;
        width: 120%;
        transform: scale(0.8);
        transform-origin: 40px 0;
        padding: 0;
        .question {
          display: none;
        }
        .slider__controls {
          margin-top: 20px;
          display: none;
        }
        .image__slider {
          overflow-x: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }
          .slider {
            .cover {
              .images {
                &:nth-of-type(1) {
                  margin-left: 0;
                }
              }
            }
          }
        }
        .what__offer {
          width: 100%;
          h1 {
            transform: scale(0.8);
            text-align: center;
            margin: auto;
          }
        }
      }
    }
    .partners {
      h1 {
        text-align: center;
        transform: scale(0.8);
        transform-origin: -50% 0;
        width: 100%;
      }
      .partner__container {
        overflow-x: scroll;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        transform: scale(0.8);
        transform-origin: 40px 0;
        min-width: 120%;
        margin-top: 10px;
        &::-webkit-scrollbar {
          display: none;
        }
        & > div {
          margin-right: 16px;
        }
      }
    }
    .testimonies {
      padding-bottom: 0;
      .cover__ {
        transform: scale(0.8);
        transform-origin: 40px 0;
        min-width: 120%;
        .what__offer {
          text-align: center;
          width: 100%;
          margin-bottom: 20px;
          h1 {
            transform: scale(0.8);
            transform-origin: -20% 0;
          }
        }
        .slider__controls {
          display: none;
        }
        .image__slider {
          overflow-x: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }
          .cover {
            flex-direction: column;

            .quote {
              display: none;
            }
            .first__section {
              margin: auto !important;
            }
            .text {
              text-align: center !important;
            }
            p {
              text-align: center !important;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .home {
    .what__we__do {
      padding-bottom: 0;
      .cover__ {
        .what__offer {
          width: 100%;
          h1 {
            transform: scale(0.8);
            text-align: center;
            margin: auto;
          }
        }
      }
    }
    .partners {
      h1 {
        text-align: center;
        transform: scale(0.7);
        transform-origin: -40% 0;
      }
    }
    .testimonies {
      .cover__ {
        .what__offer {
          h1 {
            transform: scale(0.8);
            transform-origin: -240px 0;
          }
        }
      }
    }
  }
}
@media (max-width: 335px) {
  .home {
    .what__we__do {
      padding-bottom: 0;
      .cover__ {
        .what__offer {
          width: 100%;
          h1 {
            transform: scale(0.8);
            text-align: center;
            margin: auto;
          }
        }
      }
    }
    .partners {
      h1 {
        text-align: center;
        transform: scale(0.7);
        transform-origin: -40% 0;
      }
    }
    .testimonies {
      .cover__ {
        .what__offer {
          h1 {
            transform: scale(0.7);
            transform-origin: -180px 0;
          }
        }
      }
    }
  }
}
