.header {
  background-color: var(--light-blue);
  .header__logo {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    background-color: var(--light-blue);
    z-index: 2;
    ul {
      li {
        display: inline-block;
        margin: 0 calc(64px / 2);
        a {
          display: block;
          color: var(--grey);
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
    .hire__us {
      color: var(--white);
      font-size: 18px;
      display: block;
      padding: 8px 28px;
      background: var(--gradient);
      font-weight: 500;
      border-radius: 6px;
      position: absolute;
      right: 0;
    }
  }
  .half__circle {
    height: 100px;
    background: var(--gradient);
    position: absolute;
    width: 100px;
    clip-path: circle(50px at 50px 50px);
    right: 15px;
    top: 0px;
    z-index: 1;
  }
}
@media (max-width: 559px) {
  .header {
    padding-bottom: 20px;
    .header__logo {
      display: block;
      width: 27px;
      padding: 32px 0;
      margin: auto;
    }
    nav {
      transform: scale(0.8);
      padding: 0;
      width: 120%;
      transform-origin: 40px 0;
      ul {
        li {
          margin: 0 calc(64px / 6);
          a {
          }
        }
      }
      .hire__us {
        display: none;
      }
    }
    .half__circle {
      display: none;
    }
  }
}
// @media (max-width: 414px) {
//     .header{
//         na
//     }
// }
