.footer {
  padding: 53px 0;
  background-color: var(--black);
  color: var(--light-blue);
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .contact__detail {
      display: flex;
      color: var(--light-blue);
      a {
        color: var(--light-blue);
        font-size: 28px;
        font-weight: 500;
        display: flex;
        align-items: center;
        span {
          margin-left: 15px;
        }
      }
      .number {
        font-size: 28px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-right: 51px;
        span {
          margin-left: 15px;
        }
      }
    }
    .back__to__top {
      font-size: 40px;
      cursor: pointer;
    }
  }
}

@media (max-width: 599px) {
  .footer {
    padding-bottom: 10px;
    .main {
      transform: scale(0.7);
      transform-origin: 40px 0;
      min-width: 137%;
      .contact__detail {
        flex-direction: column;
        .number {
          margin-bottom: 16px;
        }
      }
    }
  }
}
@media (max-width: 414px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 0;
    .main {
      transform: scale(0.5);
      transform-origin: 30px 0;
      min-width: 185%;
    }
  }
}
