@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
html {
  --gradient: linear-gradient(93.42deg, #47fa37 0%, #c1a801 95.21%);
  --primary: #48e841;
  --green: #026902;
  --grey: #848484;
  --black: #0d0d0d;
  --white: white;
  --light-blue: #e3faff;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 90vw;
  margin: auto;
  position: relative;
}
.gradient__text {
  background: linear-gradient(120.42deg, #47fa37 0%, #c1a801 30.21%) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.active__link {
  color: #47fa37 !important;
}

@media (max-width: 599px) {
  .container {
    max-width: 120%;
    padding: 0 20px;
  }
}
